p {
  margin: 0;
}
li {
  list-style: none;
}

.task {
  border-top: 1px solid gray;
  padding-left: 1em;
}

.taskListStyle {
  border-bottom: 1px solid gray;
  padding-left: 0;
}
.text {
  line-height: 30px;
}
.addChildTaskContent {
  padding-left: 1em;
}


